{% extends "Jberry/base.html" %}
{% load static %}

{% block body %}
<!-- Product Catagories Area Start -->
<div class="products-catagories-area clearfix">
    <div class="amado-pro-catagory clearfix">

        <!-- Single Catagory -->

        {% for p in product %}

        <div class="single-products-catagory clearfix">
            <br> <br> <br> <br>
            <a href="{% url 'products_details' p.id %}">
                <img src="{{p.image.url}}" alt="">
                <!-- Hover Content -->
                <div class="hover-content">
                    <div class="line"></div>
                    <p>From ${{p.price}}</p>
                    <h4>{{ p.title}} </h4>
                </div>
            </a>
        </div>

        {% endfor %}




    </div>
</div>
<!-- Product Catagories Area End -->

{% endblock %}